/.DS_Store
.DS_Store
/Example/DemoProject/DemoProject.xcodeproj/project.xcworkspace/xcuserdata/luc.xcuserdatad/UserInterfaceState.xcuserstate
/Example/DemoProject/DemoProject.xcodeproj/xcuserdata/luc.xcuserdatad/xcschemes/xcschememanagement.plist
/.swiftpm/xcode/xcuserdata/luc.xcuserdatad/xcschemes/xcschememanagement.plist
